@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

input,
p,
h1,
h2,
h3,
h4,
h5,
span,
a,
small,
tr,
td,
th,
li {
    font-family: 'DM Sans', sans-serif;
}
body {
    background-color: #fafafa;
}

.search-input {
    padding: 20px 0px;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}
.powered-by {
    display: flex;
    align-items: center;
    bottom: 0;
    right: 0;
    position: fixed;
    grid-gap: 5px;
    margin: 30px;
    background-color: #000;
    padding: 4px 10px;
    border-radius: 5px;
    z-index: 99;
    color: #fff;
    font-size: 13px;
}
.powered-by a {
    text-decoration: auto !important;
}

.powered-by svg {
    font-size: 13px;
    color: #fff;
}

.main-container {
    max-width: 1300px;
    margin: 0 auto;
}

.videos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.video-card {
    border-radius: 8px;
    border: 1px solid #eaeaea;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.04);
    transition: box-shadow 0.15s ease;
    cursor: pointer;
}

.video-thumbnail img {
    width: 100%;
}

.video-details {
    padding: 5px 10px;
}

.video-title {
    max-width: 250px;
    margin-bottom: 5px;
}

.video-info {
    display: flex;
    align-items: center;
    grid-gap: 5px;
}

.video-info img {
    border-radius: 50%;
}
